<div class="grid-container">
    <div class="row">
        <div class="grid-30 tablet-grid-35 mobile-grid-45 mobile-padding-right-0">
            <a class="" href=""><img src="" alt=""></a>
        </div>
        <div class="grid-70 tablet-grid-65 mobile-grid-55 tablet-padding-0 mobile-padding-0">
            <a class="omni-mobile omni-mobile-menu desktop-hide" href="#mobilenav">
					<span>
						<i class="ico ico-mobile-close"></i>
						<i class="ico ico-mobile-nav"></i>
					</span>
            </a>
            <ul class="header-actions" id="header-omni">
                <li>
                    <a href="#">Hire Me<i class="ico ico-8 ico-grey-darkest"><svg><use xlink:href="#ico-triangle-down"></use></svg></i></a>
                </li>
                <li>
                    <a href="#">Download My Resume<i class="ico ico-8 ico-grey-darkest"><svg><use xlink:href="#ico-triangle-down"></use></svg></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>