<div class="omni-row-gradient clearfix">
    <div class="grid-container">
        <div class="row">
            <div class="grid-100">
                <div class="row">
                    <p class="txt-align-center">
                        <a class="txt-align-center btn grid-20 tablet-grid-50 margin-horizontal-10 margin-vertical-20" href="https://talhollingsworth.github.io/assets/pdf/tal-hollingsworth-resume-portfolio.pdf" role="button">{% octicon cloud-download %} Download My Resume</a>
                    </p>
                    <p class="txt-align-center">
                        <a class="txt-align-center btn grid-20 tablet-grid-50 margin-horizontal-10 margin-vertical-20" href="mailto:tal.hollingsworth@gmail.com" role="button">{% octicon thumbsup %} Hire Me</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="omni-row-gradient clearfix">-->
    <!--<div class="d-flex flex-column flex-md-row-reverse">-->
        <!--<div class="padding-horizontal-10 padding-vertical-20">-->
            <!--<a class="btn" href="https://talhollingsworth.github.io/assets/pdf/tal-hollingsworth-resume-portfolio.pdf" role="button">{% octicon cloud-download %} Download My Resume</a>-->
        <!--</div>-->
        <!--<div class="padding-horizontal-10 padding-vertical-20">-->
            <!--<a class="btn" href="mailto:tal.hollingsworth@gmail.com" role="button">{% octicon thumbsup %} Hire Me</a>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->