<div class="bg-gray-dark clearfix">
    <div class="border d-flex flex-column flex-md-row-reverse">
        <div class="p-4 mt-4">
            <a href="#">
                <button class="btn btn-transparent" type="button">
                    Hire Me
                </button>
            </a>
        </div>
        <div class="p-4 mt-4">
            <a href="#">
                <button class="btn btn-transparent" type="button">
                    Download My Resume
                </button>
            </a>
        </div>
    </div>
</div>